.icon {
    display: flex;
    justify-content: flex-end;
    padding-top: 19px;
    padding-bottom: 9px;
    gap: 20px;

    .icon_block {
        display: flex;
        align-items: center;
        gap: 10px;

        p {
            font-family: 'Poppins', sans-serif;
            color: white;
            font-size: 10px;
            font-weight: 400;
            line-height: 15px;
            margin: 0;
        }
    }
}

.header {
    background: url('../../Assets/image/Ramilya/bg_nav.png') top/ cover no-repeat;
}

.wrapper {
    padding-top: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: none;
}

.nav_title {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.btn_nav {
    display: none;
}

@media only screen and (max-width: 768px) {
    .icon {
        justify-content: center;
        gap: 10px;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        gap: 15px;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 20px;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 10;
    }

    .nav_title {
        color: #fff;
        font-size: 16px;
    }

    .btn_nav {
        display: block;
    }
}